/* Navbar styles */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --main-background : #F0EBE8; 
  --secondary-background: #F1E9E4; 
  --orange : #E4866B; 
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

.navbar-logo {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: green;
  font-family: "Playwrite FR Moderne", cursive;

}

.navbar-links {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

.navbar-link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000;
  transition: color 0.3s;
  font-weight: bold;
}

.navbar-link:hover {
  color: var(--orange);
}

/* Ordering */
.order{
  background-color: var(--main-background);
  border: 20px;
}

/* Order main layout */
.order {
  margin: auto;
  max-width: 1200px;
}

.title {
  border-bottom: 1px #e0d9d9 solid;
  padding: 1em;
}

.content {
  display: flex;
  padding: 0 2em;
}


/* Customisations */
input[type="radio"] , input[type = "checkbox"] {
  margin-top: -1px;
  vertical-align: middle;
}
.customised-layout {
  padding: 15px;
  border-radius: 10px;
  width: 900px;
}


.pizza-title {
  font-size: 1rem;
  margin: 5px 0;
  color: var(--orange) ;

}
.pizza-subtitle {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}
.card {
  margin: 1em 0;
}
.custom-title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--orange); 
}
.all-card {
  background-color: var(--secondary-background);
  padding: 0 1em;
}
.radio-label {
  font-size: 0.9rem;
  margin-right: 0.8em;
  text-align: center;
}
.radio-input {
  margin-left: 5px
}
.checkbox-input {
  margin-right: 5px;
}
.topping-data {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
}
.checkbox-label {
  font-size: 0.9rem;

}

/* Pricecard */
.pricecard {
  /* border: 1px solid #ccc; */
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  padding: 15px;
  width: 300px;
  background-color: var(--secondary-background);
  margin-top: 20px;
  
}

.pricecard h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: left;
  color: var(--orange);
  font-weight: 500;
}

.price-title {
  font-size: 0.8em;
  margin: 10px 0;
  color: var(--orange);
}

.pricecard h3 {
  font-size: 1em;
  margin-top: 20px;
  text-align: center;
  color: var(--orange);
}

.price-topping-list {
  padding: 0;
  list-style: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.submit-btn {
  text-align: center;
  background-color: var(--orange);
  padding: 0.5em 3em;
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  border: none;

}
.submit-btn:hover {
  cursor: pointer;
  background-color: #d66b4d;
}