/* Navbar styles */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto';
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

.navbar-logo {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: green;
  font-family: "Playwrite FR Moderne", cursive;

}

.navbar-links {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

.navbar-link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000;
  transition: color 0.3s;
  font-weight: bold;
}

.navbar-link:hover {
  color: #ff0008;
}

/* Customisations */




/* Order main layout */
.order {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 1000px;
}

/* Customisation  */
.customised-layout {
  width: 700px;
}

/* Pricecard */
.pricecard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  margin: 20px;
  margin-left: 100px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 300px;
  
}

.pricecard h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.pricecard p {
  font-size: 1.1em;
  margin: 10px 0;
  color: #666;
}

.pricecard p strong {
  color: #333;
}

.pricecard h3 {
  font-size: 1.3em;
  margin-top: 20px;
  text-align: center;
  color: #e74c3c;
}
